html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
      background-image: url('ft.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-color: black;
  }
  
  h2 {
      color: white;
      font-size: 40px;
      margin-left: 85px;
      font-family: 'Blaka', cursive;
  }

  button {
      background-color: purple;
      border: purple;
      padding: 40px;
      text-align: center;
      font-size: 25px;
      border-radius: 50%;
      margin-left: 395px;
  }


  /* 
  https://www.tutorialspoint.com/css/css_positioning.htm# 
  */

  /* fix styling and make modal for response/fortune */
h3 {
    position: relative;
    margin-left: 645px;
    bottom: 100px;
    background-color: purple;
    color: black;
    font-size: 25px;
}

  /* mobile */



