html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
      background-image: url('madame.JPG');
      background-repeat: no-repeat;
      background-position: center;
      background-color: black;
  }
  
  h2 {
      color: white;
      font-size: 35px;
      margin-left: 85px;
      font-family: 'Blaka', cursive;
  }

  button {
      background-color: rgb(210,232,105);
      border: rgb(210,232,105);
      padding: 40px;
      text-align: center;
      font-size: 25px;
      border-radius: 50%;
      margin-left: 595px;
  }


  /* 
  https://www.tutorialspoint.com/css/css_positioning.htm# 
  */

  /* fix styling and make modal for response/fortune 
  . decided to have response on crystal ball. */
h3 {
    position: relative;
    margin-left: 605px;
    bottom: 290px;
    /* background-color: rgb(210,232,105); */
    color: black;
    font-size: 25px;
}

  /* mobile */



